@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Courier+Prime:wght@400;700&family=Lato:wght@300&family=Lumanosimo&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Space+Mono&display=swap');

@font-face {
    font-family: 'Caviar Dream';
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: 'Learning Curve';
    src: url(../fonts/LearningCurve.ttf);
}

@font-face {
    font-family: 'Moon Flower';
    src: url(../fonts/MoonFlower.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}

.r-p {
    padding: 10rem 0;
}

.bg-sec {
    background: #f8f9fa;
}

.navbar .container .nav-text {
    color: #fff;
    font-size: 40px;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-nav li a {
    color: #fff;
    font-size: 1.2rem;
}

.navbar-nav li a:hover {
    color: #00abf0;
    transition: .50s all;
}

.navbar .hamburger {
    color: #fff;
}

nav.navbar.stickyadd {
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba (0, 0, 0, 0.05);
    transition: .5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
    color: #000 !important;
    font-size: 40px;
    transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link {
    color: #000 !important;
}

nav.stickyadd .hamburger {
    color: #000;
}

/* Header */

#particles-js {
    position: absolute;
    height: 100vh;
    width: 100%;
}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box {
    max-width: 1120px;
    height: auto;
    color: #fff;
}

.content-box h4 {
    font-size: 35px;
}

.content-box h1 {
    font-size: 52px;
}

.content-box a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 25px;
    height: 50px;
    width: 150px;
}

.content-box a:hover {
    color: #000;
    background: #fff;
    transition: 0.5s all;
} 

.content-box p {
    color: #fff;
}



.footer {
    background: #333;
}

.list-inline .list-inline-item a {
    color: #fff;
    display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.list-inline .list-inline-item a:hover {
    color: #ee8683;
    transform: scale(1.1);
    
}


.footer p {
    font-size: 15px;
}

.row .card-body {
    color: #fff;
}

.row .card-body p {
    color: #fff;
    font-family: 'Courier Prime', monospace;
}

.item .text-muted {
    color: #fff !important;
}

.item img {
    height: 400px;
    width: 400px;
}

